.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.field label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--dark);
}

.field label .required {
    color: var(--danger);
    margin-left: 0.25rem;
}

.field select {
    border: 1px solid var(--gray);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--light);
    color: var(--dark);
    transition: all 0.15s ease-in-out;
    padding-right: 10px;
}


.field select.error {
    border-color: var(--danger);
    box-shadow: 0 0 0 1px var(--danger);
}

.field select:hover,
.field select:focus {
    border-color: var(--dark);
    box-shadow: 0 0 0 1px var(--dark);
}

.field p.error {
    color: var(--danger);
}