:root {
    --light: #fdfdfd;
    --false-white: #F7F9FC;
    --gray-light: #F3F3F3;
    --gray: #cccccc;
    --dark: #120b14;
    --info: #017bff;
    --info-light: #d1e9ff;
    --success: #3caf57;
    --success-light: #d2f0da;
    --warning: #cf4a02;
    --warning-light: #ffe5d1;
    --danger: #cf0d0d;
    --danger-light: #ffb3b3;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Inter", "Roboto", sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--dark);
    background: var(--false-white);
}

main {
    min-height: 75vh;
}

/* DESKTOP */
@media (min-width: 1024px) {
    main {
        margin: 1rem 4rem;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    main {
        margin: 1rem 2rem;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    main {
        margin: 0.5rem 0.75rem;
    }
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    filter: brightness(1.15);
}

a.link {
    text-decoration: underline;
}

input,
textarea {
    font-family: "Inter", "Roboto", sans-serif;
}

input:focus,
textarea:focus {
    outline: none !important;
}

textarea {
    resize: none;
    height: 100px;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input[disabled],
textarea[disabled] {
    background: var(--light-gray);
    color: var(--gray);
    cursor: not-allowed;
}

::placeholder {
    color: var(--dark);
    opacity: 0.7;
}

section {
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}