header.header {
    display: grid;
    color: var(--light);
    background-color: var(--dark);
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-title h1 {
    font-size: 2rem;
    font-weight: bold;
}

.header-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}