div.alert {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

div.alert-success {
    background-color: var(--success-light);
    color: var(--success);
}

div.alert-warning {
    background-color: var(--warning-light);
    color: var(--warning);
}

div.alert-danger {
    background-color: var(--danger-light);
    color: var(--danger);
}

div.alert-info {
    background-color: var(--info-light);
    color: var(--info);
}
