.button {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.button:disabled {
    background: var(--light) !important;
    color: var(--gray) !important;
    border: 2px solid var(--gray) !important;
    cursor: not-allowed !important;
}

/* Light standard */

.button.light:not(.outline) {
    background: var(--light);
    color: var(--dark);
    border: 2px solid var(--light);
}

/* Light outlined */

.button.light.outline {
    background: var(--light);
    color: var(--dark);
    border: 2px solid var(--dark);
}

.button.light.outline:hover {
    background-color: var(--dark);
    color: var(--light);
    border: 2px solid var(--dark);
}

/* Dark standard */

.button.dark:not(.outline) {
    background: var(--dark);
    color: var(--light);
    border: 2px solid var(--dark);
}

/* Dark outlined */

.button.dark.outline {
    background-color: var(--dark);
    color: var(--light);
    border: 2px solid var(--light);
}

.button.dark.outline:hover {
    background-color: var(--light);
    color: var(--dark);
    border: 2px solid var(--light);
}

/* Danger standard */

.button.danger:not(.outline) {
    background: var(--danger);
    color: var(--light);
    border: 2px solid var(--danger);
}

/* Danger outlined */

.button.danger.outline {
    background-color: var(--danger);
    color: var(--light);
    border: 2px solid var(--light);
}

.button.danger.outline:hover {
    background-color: var(--light);
    color: var(--danger);
    border: 2px solid var(--danger);
}