table.table {
    width: 100%;
    border-radius: 1.5rem;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
    font-size: 15px;
    background: var(--gray-light);
}

table.table thead {
    background: var(--false-white);
    border-bottom: 1px solid var(--gray);
    color: var(--dark);
}

table.table thead th {
    text-align: left;
    padding: 12px 10px;
    font-weight: 700;
    font-size: 18px;
    color: var(--dark);
}

table.table thead th a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table.table tbody tr:nth-child(even) {
    background: var(--gray-light);
}

table.table tbody tr:nth-child(odd) {
    background: var(--false-white);
}

table.table tbody td {
    text-align: left;
    padding: 12px 10px;
    color: var(--dark);
}

td.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 2rem;
    height: 400px;
    color: var(--gray);
    font-size: 1.2rem;
}