section .section-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

section h4.section-title-text {
    font-size: 1.5rem;
    font-weight: bold;
}

section a.section-title-hastage {
    font-size: 1.5rem;
    font-weight: bold;
}

section .section-title-goback {
    width: fit-content;
    transition: all 0.15s ease-in-out;
}

section .section-title-goback:hover {
    transform: translateX(-4px);
    transition: transform 0.3s;
}

section .section-title-goback span {
    cursor: pointer;
}